//MAIN COLOR VARIABLES 60-30-10 RULES
$primary-color: #ffffff;
$secondary-color: #1d2132;
$accent-color: #fd5722;
$danger-color: #dc3545;
$warning-color: #ffc107;
$success-color: #28a745;

//BUTTON VARIABLES
$button-border-radius: 0.5rem;
$button-font-size: 1rem;
$button-padding: 0.4rem 1.75rem;
$button-primary-bg-color: $accent-color;
$button-primary-text-color: #fff;
$button-secondary-bg-color: $secondary-color;
$button-secondary-text-color: #fff;
$button-outline-bg-color: $primary-color;
$button-outline-color: $secondary-color;
$button-outline-text-color: $secondary-color;

//TYPOGRAPHY VARIABLES
$base-font-size: 1rem;
$base-line-height: 1.5;
$font-color-base: $secondary-color;
$font-color-secondary: #777a84;

//MIXINS VARIABLES
$breakpoint-xs: "max-width: 575.98px";
$breakpoint-sm: "(min-width: 576px) and (max-width: 767.98px)";
$breakpoint-md: "(min-width: 768px) and (max-width: 991.98px)";
$breakpoint-lg: "(min-width: 992px) and (max-width: 1199.98px)";
$breakpoint-xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$breakpoint-xxl: "min-width: 1400px";
