//MAIN COLOR VARIABLES
$primary-color: #ffffff;
$secondary-color: #171725;
$accent-color: #FD5722;

//BUTTON VARIABLES
$button-border-radius: 4px;
$button-font-size: 1rem;
$button-padding: 0.5rem 1rem;
$button-primary-bg-color: $accent-color;
$button-primary-text-color: #fff;
$button-secondary-bg-color: #6c757d;
$button-secondary-text-color: #fff;

//TYPOGRAPHY VARIABLES
$base-font-size: 1rem;
$base-line-height: 1.5;
$font-color: $secondary-color;
$font-color-secondary: #868891;