//MAIN COLOR VARIABLES 60-30-10 RULES
$primary-color: #ffffff;
$secondary-color: #171725;
$accent-color: #fd5722;
$danger-color: #dc3545;
$warning-color: #ffc107;
$success-color: #28a745;

//BUTTON VARIABLES
$button-border-radius: 4px;
$button-font-size: 1rem;
$button-padding: 0.5rem 1rem;
$button-primary-bg-color: $accent-color;
$button-primary-text-color: #fff;
$button-secondary-bg-color: #6c757d;
$button-secondary-text-color: #fff;
$button-outline-bg-color: transparent;
$button-outline-text-color: $secondary-color;

//TYPOGRAPHY VARIABLES
$base-font-size: 1rem;
$base-line-height: 1.5;
$font-color: $secondary-color;
$font-color-secondary: #868891;

//MIXINS VARIABLES
$breakpoint-xs: "max-width: 575.98px";
$breakpoint-sm: "max-width: 767.98px";
$breakpoint-md: "(min-width: 768px) and (max-width: 991.98px)";
$breakpoint-lg: "(min-width: 992px) and (max-width: 1199.98px)";
$breakpoint-xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$breakpoint-xxl: "min-width: 1400px";
