header {
  nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a.logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        height: auto;
        width: 35px;
      }

      h4 {
        font-weight: 900;
      }
    }

    ul.links {
      display: flex;
      gap: 2rem;
    }

    ul.user-menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      li.menu-toggle {
        display: none;
        margin-top: 0.5rem;
        button {
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  @media only screen and ($breakpoint-md) {
    nav.container {
      ul.links {
        display: none;
      }

      ul.user-menu li.authentication {
        display: none;
      }

      ul.user-menu li.menu-toggle {
        display: block;
      }
    }
  }

  @media only screen and ($breakpoint-sm) {
    nav.container {
      ul.links {
        display: none;
      }

      ul.user-menu li.authentication {
        display: none;
      }

      ul.user-menu li.menu-toggle {
        display: block;
      }
    }
  }

  @media only screen and ($breakpoint-xs) {
    nav.container {
      ul.links {
        display: none;
      }

      ul.user-menu li.authentication {
        display: none;
      }

      ul.user-menu li.menu-toggle {
        display: block;
      }
    }
  }
}
