@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700&display=swap");

@media only screen and ($breakpoint-xl) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media only screen and ($breakpoint-lg) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media only screen and ($breakpoint-md) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media only screen and ($breakpoint-sm) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 32px;
  }
}

@media only screen and ($breakpoint-xs) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 32px;
  }
}
